body {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 18px;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  background-color: #010014;
  min-height: 100vh;
  color: #fff;
  width: 100%;
  padding-bottom: 60px;
}

* {
  box-sizing: border-box;
}
